<!DOCTYPE HTML>
<html lang="en">

<head>
<title>@ViewData["Title"] - ShadracPhoneRepairFinial1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="~/Temp/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="~/Temp/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="~/Temp/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="~/Temp/js/jquery-1.11.1.min.js"></script>
<script src="~/Temp/js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="~/Temp/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="~/Temp/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="~/Temp/js/metisMenu.min.js"></script>
<script src="~/Temp/js/custom.js"></script>
<link href="~/Temp/css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <div class=" sidebar" role="navigation">
            @*<div class="navbar-collapse">
                    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="index.html"><i class="fa fa-home nav_icon"></i>Home</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-cogs nav_icon"></i>Repair Devices <span class="nav-badge">12</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="grids.html">Request Repair</a>
                                    </li>
                                    <li>
                                        <a href="media.html">Book Repair</a>
                                    </li>
                                </ul>
                                <!-- /nav-second-level -->
                            </li>
                            <li class="">
                                <a href="#"><i class="fa fa-book nav_icon"></i>Buy Device Parts & Devices <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="general.html">Parts<span class="nav-badge-btm">08</span></a>
                                    </li>
                                    <li>
                                        <a href="typography.html">Devices</a>
                                    </li>
                                </ul>
                                <!-- /nav-second-level -->
                            </li>
                            <li>
                                <a href="widgets.html"><i class="fa fa-th-large nav_icon"></i>Widgets <span class="nav-badge-btm">08</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope nav_icon"></i>Trade in Devices<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="inbox.html">Sell Your Device <span class="nav-badge-btm">05</span></a>
                                    </li>
                                    <li>
                                        <a href="compose.html">Trade Devices</a>
                                    </li>
                                </ul>
                                <!-- //nav-second-level -->
                            </li>
                            <li>
                                <a href="tables.html"><i class="fa fa-table nav_icon"></i>Tables <span class="nav-badge">05</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="forms.html">Basic Forms <span class="nav-badge-btm">07</span></a>
                                    </li>
                                    <li>
                                        <a href="validation.html">Validation</a>
                                    </li>
                                </ul>
                                <!-- //nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Sign or Register<span class="nav-badge-btm">02</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="login.html">Login</a>
                                    </li>
                                    <li>
                                        <a href="signup.html">SignUp</a>
                                    </li>
                                    <li>
                                        <a href="blank-page.html">Blank Page</a>
                                    </li>
                                </ul>
                                <!-- //nav-second-level -->
                            </li>
                            <li>
                                <a href="charts.html" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Charts <span class="nav-badge-btm pull-right">new</span></a>
                            </li>
                        </ul>
                        <div class="clearfix"> </div>
                        <!-- //sidebar-collapse -->
                    </nav>
                </div>*@
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <div class="navbar-collapse">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <partial name="_LoginPartial" />
                                </li>
                                <li>
                                    <a href="index.html"><i class="fa fa-home nav_icon"></i>Home</a>
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                @* Repairs *@
                                <li>
                                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Repair Devices <span class="nav-badge">12</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="grids.html">Request Repair</a>
                                            @Html.ActionLink("Request Repair", "Create", "Requests")
                                        </li>
                                        <li>
                                            <a href="media.html">Book Repair</a>
                                            @Html.ActionLink("Book WalkIn", "Create", "WalkInRequests")
                                        </li>
                                        <li>
                                            <a href="media.html">Request Repairs Dashboard</a>
                                            @Html.ActionLink("Book WalkIn", "Create", "WalkInRequests")
                                        </li>
                                        <li>
                                            <a href="media.html">WalkIn Repairs Dashboard</a>
                                            @Html.ActionLink("DeviceStatus WalkIns", "Index", "DeviceStatusWalkIns")
                                        </li>
                                    </ul>
                                    <!-- /nav-second-level -->
                                </li>
                                @* Payments *@
                                <li>
                                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Repair Devices <span class="nav-badge">12</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="grids.html">WalkInPayments</a>
                                            @Html.ActionLink("WalkInPayments", "Index", "WalkInPayments")
                                        </li>
                                        <li>
                                            <a href="media.html">Book Repair</a>
                                            @Html.ActionLink("RequestPayments", "Index", "RequestPayments")
                                        </li>
                                        <li>
                                            <a href="media.html">PaymentStatus</a>
                                            @Html.ActionLink("PaymentStatus", "Index", "PaymentStatus")
                                        </li>
                                    </ul>
                                    <!-- /nav-second-level -->
                                </li>
                                @* Human Resources *@
                                <li class="">
                                    <a href="#"><i class="fa fa-book nav_icon"></i>Human Resources <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="general.html">Employees<span class="nav-badge-btm">08</span></a>
                                            @Html.ActionLink("Employee", "Index", "Employee")
                                        </li>
                                        <li>
                                            <a href="typography.html">Devices</a>
                                            @Html.ActionLink("Role", "Index", "Role")
                                        </li>
                                        @Html.ActionLink("WalkInTimes", "Index", "WalkInTimes")
                                    </ul>
                                    <!-- /nav-second-level -->
                                </li>
                            </ul>
                            <div class="clearfix"> </div>
                            <!-- //sidebar-collapse -->
                        </nav>
                    </div>
                }

                if (User.IsInRole("Technician"))
                {
                    <div class="navbar-collapse">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <partial name="_LoginPartial" />
                                </li>
                                <li>
                                    <a href="index.html"><i class="fa fa-home nav_icon"></i>Home</a>
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                @* Repairs *@
                                <li>
                                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Repair Devices <span class="nav-badge">12</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="grids.html">Request Repair</a>
                                            @Html.ActionLink("Request Repair", "Create", "Requests")
                                        </li>
                                        <li>
                                            <a href="media.html">Book Repair</a>
                                            @Html.ActionLink("Book WalkIn", "Create", "WalkInRequests")
                                        </li>
                                        <li>
                                            <a href="media.html">Request Repairs Dashboard</a>
                                            @Html.ActionLink("Book WalkIn", "Create", "WalkInRequests")
                                        </li>
                                        <li>
                                            <a href="media.html">WalkIn Repairs Dashboard</a>
                                            @Html.ActionLink("DeviceStatus WalkIns", "Index", "DeviceStatusWalkIns")
                                        </li>
                                    </ul>
                                    <!-- /nav-second-level -->
                                </li>
                                @* Brands *@
                                <li>
                                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Brands <span class="nav-badge">12</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="grids.html">WalkInPayments</a>
                                            @Html.ActionLink("Brands", "Index", "Brands")
                                        </li>
                                        <li>
                                            <a href="media.html">Book Repair</a>
                                            @Html.ActionLink("Colours", "Index", "Colours")
                                        </li>
                                        <li>
                                            <a href="media.html">PaymentStatus</a>
                                            @Html.ActionLink("DeviceDescriptions", "Index", "DeviceDescriptions")
                                        </li>
                                        <li>
                                            <a href="media.html">PaymentStatus</a>
                                            @Html.ActionLink("Storages", "Index", "Storages")
                                        </li>
                                    </ul>
                                    <!-- /nav-second-level -->
                                </li>
                                @* Human Resources *@
                                <li class="">
                                    <a href="#"><i class="fa fa-book nav_icon"></i>Order Parts <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="general.html">Employees<span class="nav-badge-btm">08</span></a>
                                            @Html.ActionLink("Employee", "Index", "Employee")
                                        </li>
                                        <li>
                                            <a href="typography.html">Devices</a>
                                            @Html.ActionLink("Role", "Index", "Role")
                                        </li>
                                        @Html.ActionLink("WalkInTimes", "Index", "WalkInTimes")
                                    </ul>
                                    <!-- /nav-second-level -->
                                </li>

                            </ul>
                            <div class="clearfix"> </div>
                            <!-- //sidebar-collapse -->
                        </nav>
                    </div>
                }

                if (User.IsInRole("Driver"))
                {
                    <div class="navbar-collapse">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <partial name="_LoginPartial" />
                                </li>
                                <li>
                                    <a href="index.html"><i class="fa fa-home nav_icon"></i>Home</a>
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                @* Repairs *@
                                <li>
                                    <a href="#"><i class="fa fa-cogs nav_icon"></i>Repair Devices Dashboard <span class="nav-badge">12</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="grids.html">Request Repair</a>
                                            @Html.ActionLink("Request Repair", "Create", "Requests")
                                        </li>
                                        <li>
                                            <a href="media.html">Book Repair</a>
                                            @Html.ActionLink("Book WalkIn", "Create", "WalkInRequests")
                                        </li>
                                        <li>
                                            <a href="media.html">Request Repairs Dashboard</a>
                                            @Html.ActionLink("Book WalkIn", "Create", "WalkInRequests")
                                        </li>
                                        <li>
                                            <a href="media.html">WalkIn Repairs Dashboard</a>
                                            @Html.ActionLink("DeviceStatus WalkIns", "Index", "DeviceStatusWalkIns")
                                        </li>
                                    </ul>
                                    <!-- /nav-second-level -->
                                </li>

                                @* Human Resources *@
                                <li class="">
                                    <a href="#"><i class="fa fa-book nav_icon"></i>Collect Order Parts <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="general.html">Employees<span class="nav-badge-btm">08</span></a>
                                            @Html.ActionLink("Employee", "Index", "Employee")
                                        </li>
                                        <li>
                                            <a href="typography.html">Devices</a>
                                            @Html.ActionLink("Role", "Index", "Role")
                                        </li>
                                        @Html.ActionLink("WalkInTimes", "Index", "WalkInTimes")
                                    </ul>
                                    <!-- /nav-second-level -->
                                </li>
                            </ul>
                            <div class="clearfix"> </div>
                            <!-- //sidebar-collapse -->
                        </nav>
                    </div>
                }

                if (User.IsInRole("Customer"))
                {
                    <div class="navbar-collapse">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <li>
                                <partial name="_LoginPartial" />
                            </li>
                            <ul class="nav" id="side-menu">
                                <li>
                                    <a href="index.html"><i class="fa fa-home nav_icon"></i>Home</a>
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                @* Repairs *@
                                <li>
                                    <a href="#"><i class="fa fa-cogs nav_icon"></i>My Dashboard <span class="nav-badge">12</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="grids.html">Request Repair</a>
                                            @Html.ActionLink("Request Repair", "Create", "Requests")
                                        </li>
                                        <li>
                                            <a href="media.html">Book Repair</a>
                                            @Html.ActionLink("Book WalkIn", "Create", "WalkInRequests")
                                        </li>
                                        <li>
                                            <a href="media.html">Request Repairs Dashboard</a>
                                            @Html.ActionLink("Book WalkIn", "Create", "WalkInRequests")
                                        </li>
                                        <li>
                                            <a href="media.html">WalkIn Repairs Dashboard</a>
                                            @Html.ActionLink("DeviceStatus WalkIns", "Index", "DeviceStatusWalkIns")
                                        </li>
                                    </ul>
                                    <!-- /nav-second-level -->
                                </li>

                                @* Human Resources *@
                                <li class="">
                                    <a href="#"><i class="fa fa-book nav_icon"></i>Repairs <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="general.html">Employees<span class="nav-badge-btm">08</span></a>
                                            @Html.ActionLink("Employee", "Index", "Employee")
                                        </li>
                                        <li>
                                            <a href="typography.html">Devices</a>
                                            @Html.ActionLink("Role", "Index", "Role")
                                        </li>
                                        @Html.ActionLink("WalkInTimes", "Index", "WalkInTimes")
                                    </ul>
                                    <!-- /nav-second-level -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope nav_icon"></i>Trade in Devices<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        <li>
                                            <a href="inbox.html">Sell Your Device <span class="nav-badge-btm">05</span></a>
                                        </li>
                                        <li>
                                            <a href="compose.html">Trade Devices</a>
                                        </li>
                                    </ul>
                                    <!-- //nav-second-level -->
                                </li>

                            </ul>
                            <div class="clearfix"> </div>
                            <!-- //sidebar-collapse -->
                        </nav>
                    </div>
                }

            }
            else
            {
                <div class="navbar-collapse">
                    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="index.html"><i class="fa fa-home nav_icon"></i>Home</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-cogs nav_icon"></i>Repair Devices <span class="nav-badge">12</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="grids.html">Request Repair</a>
                                    </li>
                                    <li>
                                        <a href="media.html">Book Repair</a>
                                    </li>
                                </ul>
                                <!-- /nav-second-level -->
                            </li>
                            <li class="">
                                <a href="#"><i class="fa fa-book nav_icon"></i>Buy Device Parts & Devices <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="general.html">Parts<span class="nav-badge-btm">08</span></a>
                                    </li>
                                    <li>
                                        <a href="typography.html">Devices</a>
                                    </li>
                                </ul>
                                <!-- /nav-second-level -->
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-envelope nav_icon"></i>Trade in Devices<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="inbox.html">Sell Your Device <span class="nav-badge-btm">05</span></a>
                                    </li>
                                    <li>
                                        <a href="compose.html">Trade Devices</a>
                                    </li>
                                </ul>
                                <!-- //nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Sign or Register<span class="nav-badge-btm">02</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="login.html">Login</a>
                                    </li>
                                    <li>
                                        <a href="signup.html">SignUp</a>
                                    </li>
                                    <li>
                                        <a href="blank-page.html">Blank Page</a>
                                    </li>
                                </ul>
                                <!-- //nav-second-level -->
                            </li>
                            <li>
                                <a href="charts.html" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Charts <span class="nav-badge-btm pull-right">new</span></a>
                            </li>
                        </ul>
                        <div class="clearfix"> </div>
                        <!-- //sidebar-collapse -->
                    </nav>
                </div>
            }
        </div>
    </div>


    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <!--logo -->
            <div class="logo">
                <a href="index.html">
                    <h1>NOVUS</h1>
                    <span>AdminPanel</span>

                    @*<img src="~/Temp/images/logo.png" style="width:100%; height:auto; max-width300px;" alt="">*@
                </a>
            </div>
            <!--//logo-->
            <!--search-box-->
            <div class="search-box">
                <form class="input">
                    <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search" id="input-31" />
                    <label class="input__label" for="input-31">
                        <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                            <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                        </svg>
                    </label>
                </form>
            </div><!--//end-search-box-->
            <div class="clearfix"> </div>
        </div>
        <div class="header-right">
            <div class="profile_details_left">
                <!--notifications of menu start -->
                <ul class="nofitications-dropdown">
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="notification_header">
                                    <h3>You have 3 new messages</h3>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="user_img"><img src="~/Temp/images/1.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet</p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li class="odd">
                                <a href="#">
                                    <div class="user_img"><img src="~/Temp/images/2.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet </p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="user_img"><img src="~/Temp/images/3.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet </p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li>
                                <div class="notification_bottom">
                                    <a href="#">See all messages</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="notification_header">
                                    <h3>You have 3 new notification</h3>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="user_img"><img src="~/Temp/images/2.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet</p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li class="odd">
                                <a href="#">
                                    <div class="user_img"><img src="~/Temp/images/1.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet </p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="user_img"><img src="~/Temp/images/3.png" alt=""></div>
                                    <div class="notification_desc">
                                        <p>Lorem ipsum dolor amet </p>
                                        <p><span>1 hour ago</span></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li>
                                <div class="notification_bottom">
                                    <a href="#">See all notifications</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">15</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="notification_header">
                                    <h3>You have 8 pending task</h3>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="progress progress-striped active">
                                        <div class="bar yellow" style="width:40%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="progress progress-striped active">
                                        <div class="bar green" style="width:90%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="progress progress-striped active">
                                        <div class="bar red" style="width: 33%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="progress progress-striped active">
                                        <div class="bar  blue" style="width: 80%;"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="notification_bottom">
                                    <a href="#">See all pending tasks</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <!--notification menu end -->
            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
                                <span class="prfil-img"><img src="~/Temp/images/a.png" alt=""> </span>
                                @*<div class="user-name">
                                        <p>Wikolia</p>
                                        <span>Administrator</span>
                                    </div>*@
                                <partial name="_LoginPartial" />
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                            <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
                            <li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
        @*<div class="main-page">
            <h3 class="title1">Blank Page</h3>
            <div class="blank-page widget-shadow scroll" id="style-2 div1">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                </p>
            </div>*@
        @RenderBody()
    </div>
    </div>
    <!--footer-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ShadracPhoneRepairFinial1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!--//footer-->
    </div>
    <!-- Classie -->
    <script src="~/Temp/js/classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };

        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!--scrolling js--> 
    <script src="~/Temp/js/jquery.nicescroll.js"></script>
    <script src="~/Temp/js/scripts.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Temp/js/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>






