@model ShadFrame.Models.Parts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Part_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Part_Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part_Cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
