@model ShadFrame.Models.SupplierPart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SupplierPart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parts.Part_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parts.Part_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.Supplier_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.Supplier_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartSupplied_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartSupplied_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartSupplied_Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartSupplied_Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierPartId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
