@model IEnumerable<ShadFrame.Models.DeviceStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepairStatus.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceProblem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMEI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechnicianId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechnicianId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalOfRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalOfCharge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RepairStatus.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Brand)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DeviceProblem)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DeviceName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Capacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Colour)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IMEI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PaymentStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RequestDateTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TechnicianId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ApprovalOfRequest)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ApprovalOfCharge)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TrackingNumber }) |
        @Html.ActionLink("Details", "Details", new { id = item.TrackingNumber }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TrackingNumber })
    </td>
</tr>
}

</table>
