@model ShadFrame.Models.PartsCollection

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PartsCollection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quaunity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quaunity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartsCollectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
