@model IEnumerable<ShadFrame.Models.PartsCollection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quaunity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quaunity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PartsCollectionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PartsCollectionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PartsCollectionId })
        </td>
    </tr>
}

</table>
