@model ShadFrame.Models.DeviceDescription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceDescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceDescriptionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
